<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100 justify-content-between">
    <header><%- include('../partials/header', {page:'list'}); %></header>
    <div class="container min-vh-100 py-4">
      <h1 class="mb-4">Pacientes registrados</h1>

      <div class="list-group">
        <% data.forEach(function(o) { %>
        <a
          href="/patient/<%= o.id %>"
          class="list-group-item list-group-item-action"
          ><%= o.id %> - <%= o.name %> <%= o.lastname%>
        </a>
        <% }); %>
      </div>
    </div>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
